
.vs
Structures/Debug
Structures/packages/
Structures/packages.config
Structures/Structures.vcxproj
Structures/Structures.vcxproj.filters
Structures/Structures.vcxproj.user
Structures/Structures.sln
*.pdb
MusicCollection/Debug/vc142.idb
Debug
MusicCollection/Users.json
MusicCollection/Songs.json
MusicCollection/Playlists.json
MusicCollection/Users.json
